<!DOCTYPE html>
<html lang="en">
    <head></head>
    {{!-- 
<style>
    .c{
        background-color: inherit;
    }
</style> --}}
    <body>

        <div style="width: 100% !important;">
            <div style="width: 50% !important; height: 500px !important; margin: auto; padding:20px ;">
                <div style="width: 100%; height:80px;background:  linear-gradient(90deg, rgba(158,47,47,1) 0%, rgba(217,67,67,1) 73%) !important;">
                    <div style="height: 100%;display: flex;align-items: center !important;place-content: center !important;">
                   
                    <span style="color: white;font-size: 25px;font-weight: 600;align-self: center;margin: auto;"> <img
                        src="https://works.proyectokamila.com/assets/images/logo-white.png"
                        alt="Logo"
                        width="120px"
                        height="50px" style="vertical-align: middle !important;"> PkFreelancers</span>

                </div>
            </div>

            <br>
        
            <p>
                Hola {{firstName}} {{lastName}}, te enviamos un email para que no te pierdas de nada.
            </p>

            <p>
                {{descripcion}}
            </p>
          
            {{!-- <p>Lugar del evento: {{lugar}}</p> --}}
            <div style="margin: auto;">
                <a style="font-size: 14px !important;text-decoration: none !important;width: 200px;margin: auto;text-align: center;font-weight: bold !important;padding: 8px 14px !important;display: block !important;background-color: inherit !important;border-radius: 2px !important;position: absolute;left: 0;right: 0;bottom: 10px;" href={{link}} >Mas informacion</a>

            </div>

        </div>
    </div>
</body>
</html>


